<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>Upload</servlet-name>
    <servlet-class>keen.server.Upload</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Serve</servlet-name>
    <servlet-class>keen.server.Serve</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Serve</servlet-name>
    <url-pattern>/serve</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>MusicServlet</servlet-name>
    <servlet-class>keen.server.MusicServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>MusicServlet</servlet-name>
	<url-pattern>/music</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>VideoServlet</servlet-name>
    <servlet-class>keen.server.VideoServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>VideoServlet</servlet-name>
	<url-pattern>/video</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>keen.server.ImageServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
	<url-pattern>/image</url-pattern>
  </servlet-mapping>
  <!-- security stuff -->
	<security-constraint>
        <web-resource-collection>
            <url-pattern>/images.jsp</url-pattern>
            <url-pattern>/music.jsp</url-pattern>
            <url-pattern>/music</url-pattern>
            <url-pattern>/videos.jsp</url-pattern>
            <url-pattern>/video</url-pattern>
            <url-pattern>/upload.jsp</url-pattern>
            <url-pattern>/serve</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <url-pattern>/cron/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint> 

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Keen.jsp</welcome-file>
  </welcome-file-list>

</web-app>
